.card {
    margin: 1rem;
    width: 105px;
    height: 148px;
    object-fit: scale-down;
    margin: 1rem;
    padding: 7px;
    border: 1px solid #b3b3b3;
    background-color: #fff;
}

.card-number {
    color: #b3b3b3;
    font-size: 4rem;
    text-align: center;
}