<div class="modal-wrapper">
  <div class="modal">
    <div class="modal-inner">
      <div class="modal-header" *ngIf="!['trivia-first', 'trivia-decond', 'trivia-third'].includes(modal.modalType)">
        <a class="modal-close" (click)="closeModal()"><span class="icon icon-modal-close"></span></a>
      </div>
      <div class="modal-content">
        <app-auth *ngIf="modal.modalType === 'auth'"></app-auth>
        <app-create-group *ngIf="modal.modalType === 'create_group'"></app-create-group>
        <app-my-groups *ngIf="modal.modalType === 'my_groups'" [data]="data"></app-my-groups>
        <app-trivia-first *ngIf="modal.modalType === 'trivia-first'" [data]="data"></app-trivia-first>
        <app-trivia-second *ngIf="modal.modalType === 'trivia-second'" [data]="data"></app-trivia-second>
        <app-trivia-third *ngIf="modal.modalType === 'trivia-third'"></app-trivia-third>
        <app-album-subscription *ngIf="modal.modalType === 'album_subscription'"></app-album-subscription>
        <app-join-group *ngIf="modal.modalType === 'join_group'" [data]="data"></app-join-group>
        <app-proposal-modal *ngIf="modal.modalType === 'proposals_modal'" [data]="data"></app-proposal-modal>
        <app-temario *ngIf="modal.modalType === 'temario'" [data]="data"></app-temario>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>