<div class="faq-container">
    <div class="container">

        <h5 class="subtitle">Manual de Funcionamiento</h5>

        <ol type="A" class="main-list">
            <li>¿Cómo apuntarse a un Álbum de Cromos? </li>
            <ol type="1" class="sub-list">
                <li>Para poder participar en una Colección de AlbumdeCromos.com debes registrarte con tu mail o Facebook.</li>
                <li>Revisa los Álbumes y puedes escoger hasta un máximo de tres. </li>
                <li>Los Álbumes están organizados por Colecciones: Ciencias / Historia / Geografía / Lenguas / Arte / …</li>
                <li>Los Álbumes están calificados por edades o dificultad, desde la A, el más fácil, B medio, C avanzado y T: Todos.</li>
                <li>El idioma está señalado en cada álbum: castellano / inglés/ catalán /…</li>
                <li>En Cada Álbum se incluye un desplegable con los Títulos de los Cromos.</li>
                <li>Cada Álbum tiene unos 100 cromos por colección. Cada cromo tiene un Número, un Título y una Respuesta.</li>
            </ol>

            <li>¿Cómo se ganan cromos?</li>

            <ol type="1" class="sub-list">
                <li>Cada día que entres en el Álbum recibirás 3 cromos. Los cromos son al azar (random)</li>
                <li>Coloca cada cromo en su lugar.</li>
                <li>Revisa la Respuesta clickando en la señal.</li>
                <li>También aparecerán 2 preguntas Quiz. Si aciertas, tendrás un cromo más por cada una.</li>
                <li>Los cromos repetidos podrás cambiarlos.</li>
                <li>De vez en cuando puedes recibir un Comodín, que puedes convertir en algún cromo que te falte.</li>
            </ol>

            <li>¿Qué opciones tengo con cada Álbum?</li>
            <ol type="1" class="sub-list">
                <li>Te recordamos que puedes hacer hasta 3 colecciones simultáneas. </li>
                <li>A los 3 meses se eliminan los Álbumes.</li>
                <li>En tu pantalla aparecen los Álbumes que tienes, los días que quedan, el número total de cromos que tienes, el Listado con los cromos (tengo/falta/repetido)</li>
                <li>Al comenzar la colección te pedirá si deseas formar parte de un grupo. Si perteneces a un grupo podrás ver el ‘Ranking’ de posición y tener la opción de ‘Cambiar’ cromos.</li>
                <li>También puedes darte de baja del grupo o eliminar el Álbum.</li>
            </ol>

            <li>¿Cómo funcionan los Grupos?</li>
            <ol type="1" class="sub-list">
                <li>Cuando te inscribes a un Álbum te permite formar parte de un grupo. Aparece un listado con los nombres. Escoge el de tu interés</li>
                <li>Los Grupos pueden ser públicos o privados (con código de acceso)</li>
                <li>Dentro de cada Grupo puedes consultar el ‘Ranking’ de posición y ‘Cambiar’ cromos.</li>
                <li>Para crear un grupo puedes hacerlo desde la pantalla de Inicio. Tú serás el Administrador. Si es público puede apuntarse cualquiera. Si es privado recibirás un Código de acceso que deberás suministrar a los interesados. </li>
                <li>Cada Álbum da acceso a un único grupo, asociado a dicho Álbum. </li>
            </ol>
            <li>¿Cómo se cambian cromos?</li>

            <ol type="1" class="sub-list">
                <li>Al escoger un Álbum te pedirá si deseas inscribirte a un grupo. Sólo se puede incorporar a un grupo antes de comenzar la colección. </li>
                <li>Sólo si formas parte de un grupo podrás intercambiar cromos.</li>
                <li>Para cambiar cromos puedes buscar por cromos que te faltan, sale el listado, o puedes buscar por persona para el intercambio.</li>
                <li>Al seleccionar el cromo o persona saldrán los cromos que a ti te faltan y que la otra tiene repetidos. Empieza la negociación haciendo propuestas: puedes pedir u ofrecer hasta 3 cromos. Si el otro acepta se produce el intercambio.</li>
            </ol>

            <li>¿Cuál es el papel del profesorado?</li>

            <ol type="1" class="sub-list">
                <li>AlbumdeCromos.com está pensada como una herramienta educativa de complemento a la educación reglada. </li>
                <li>Aprende lo que está previsto o aprende más cosas y ensancha tu mente.</li>
                <li>La herramienta está pensada para simplificar que el docente consiga que el alumnado sea el que juegue, se divierte y aprenda. Competir, cambiar, consultar, negociar… todo cabe en AlbumdeCromos.com.</li>
                <li>Basta escoger un Álbum, adecuado por la Colección y Nivel, y crear un grupo. Si es privado recibirá un código de acceso que se debe proporcionar para que puedan entrar.</li>
            </ol>
            <li>¿Para qué me sirve AlbumdeCromos.com en el Aula?</li>
            <ol type="1" class="sub-list">
                <li>El sistema no permite más de 3 Álbumes simultáneos para evitar la saturación.</li>
                <li>Cada día pueden ganar hasta 5 cromos, cuyo contenido pueden asimilar fácilmente, al ser Respuestas resumidas y sencillas.</li>
                <li>Está previsto que se tarde entre 1 y 2 meses en acabar la colección. Pasado este tiempo se les puede preguntar en clase acerca de su contenido.</li>
                <li>El hecho de ser un sistema participativo con intercambio de cromos facilita el aprendizaje. </li>
                <li>Se trata de despertar su interés como demostrarían frases como: ‘¿Qué cromos te han tocado?’; ‘Me faltan sólo 15’; ‘Ayer acerté los 2 Quiz’; ‘No sabía yo que…’</li>
            </ol>

            <li>¿Cómo se puede colaborar en ‘AlbumdeCromos.com?</li>

            <ol type="1" class="sub-list">
                <li>Si tienes interés puede participar ofreciendo sugerencias, correcciones, modificaciones… a través del ‘Contacto’ de la web. O mail: info@albumdecromos.com</li>
                <li>También puede ayudar a crear Cromos enviando en un Excel el Titulo/ Respuesta y un archivo con la foto libre en formato JPG de tamaño 300 x 420.</li>
                <li>Si formas parte de un Centro asociado, podrás acceder al Gestor.</li>
                <li>Desde el Gestor de Cromos se pueden crear tus propios Cromos (Titulo / Respuesta / Foto / Temática / Nivel).</li>
                <li>Para crear tu propio Álbum escoge cada cromo (hasta 100), ordénalos y ponle un Título al Álbum, </li>
                <li>Los Álbumes que crees pueden ser Privados (con Código) o Públicos.</li>
            </ol>

            <li>¿Qué es y para qué sirve que un Centro sea Miembro?</li>

            <ol type="1" class="sub-list">
                <li>Un Centro Asociado es una entidad educativa que podrá acceder a la web de AlbumdeCromos.com de un modo personalizado.</li>
                <li>P.ej. si el colegio McKinley es miembro, sus alumnos podrán acceder a través de: albumdecromos.com/McKinley</li>
                <li>La portada de acceso será personalizada, con el nombre/ emblema de la institución/ información de interés…. </li>
                <li>El Centro podrá dar acceso al Gestor de Contenidos para poder crear Cromos o un Álbum</li>
                <li>Si el Álbum es Privado sólo podrán acceder a él los del propio centro.</li>
            </ol>

            <li>¿Cómo puedo conservar un Álbum o adquirir los que me faltan?</li>

            <ol type="1" class="sub-list">
                <li>Cómo a los tres meses caducan y se eliminan de tu Portal, puedes mantenerlos pagando 10 €, marcando en la pestaña correspondiente, que te saldrá al finalizar la colección.</li>
                <li>También puedes adquirir cromos que te falten pagando 2 € por 10 cromos. Si lo haces te descalifica para el Ranking del grupo.</li>
            </ol>

            <li>¿Cómo funciona los Quiz Sabelotodo?</li>
            <ol type="1" class="sub-list">
                <li>Cada día entre semana, de lunes a viernes, a las 7 pm, se organiza un Quiz Sabelotodo entre los participantes que estén conectados. Habrá 10 preguntas del tipo Quiz que aparecen cada día junto a los cromos recibidos.</li>
                <li>Entre los ganadores se sortearán Lotes de premios de empresas colaboradoras.</li>
            </ol>
        </ol>
    </div>
</div>